.password-strength {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bars-container {
  width: 50%;
  height: 4px;
  border-radius: 2px;
  overflow: hidden;
  
  background: var(--grey-input);
  display: flex;
}

.bars-container span {
  border-radius: inherit;
  display: block;
  width: 0%;
}

.bars-container span.weak {
  background: var(--danger-base);
  width: 25%;
}

.bars-container span.fair {
  --fair-base: rgb(255, 209, 59);
  background: var(--fair-base);
  width: 50%;
}

.bars-container span.strong {
  --strong-base: rgb(109, 190, 116);
  background: var(--strong-base);
  width: 75%;
}

.bars-container span.perfect {
  background: var(--black-base);
  width: 100%;
}
