/* You can add global styles to this file, and also import other style files */
:root {
  --blue-base: hsl(216, 100%, 42%);
  --white-base: hsl(0, 0%, 95%);
  --black-base: hsl(0, 0%, 12%);
  --grey-base: hsl(0, 0%, 50%);

  --blue-hover: hsl(216, 100%, 32%);
  --white-hover: hsl(0, 0%, 77%);
  --black-hover: hsl(0, 0%, 19%);

  --blue-input: hsl(217, 100%, 95%);
  --grey-input: hsl(0, 0%, 80%);

  --pure-white-base: hsl(0, 0%, 100%);
  
  --font-default: 'Roobert', sans-serif;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white-base);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

:is(label, button) {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

/*#region Typography */

* {
  font-family: var(--font-default);
  font-weight: 500;
}

:is(.display, .button) {
  letter-spacing: 2px;
  line-height: 1.1;
}

/*  */

.display-01 {
  font-size: clamp(32px, 3vw, 48px);
}

.display-02 {
  font-size: clamp(24px, 2.25vw, 32px);
}

.display-05 {
  font-size: 16px;
}

.display-06 {
  font-size: 14px;
}

/*  */

.font-bold {
  font-weight: 700;
}

.font-normal {
  font-weight: 500;
}

.font-light {
  font-weight: 300;
}

/*  */

.text-uppercase {
  text-transform: uppercase;
}

/*  */

.text-center {
  text-align: center;
}

/*  */

.color-grey {
  color: var(--grey-base);
}

.color-blue {
  color: var(--blue-base);
}

.color-black {
  color: var(--black-base);
}